{% extends "account/login.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/accounts/password_reset.css' %}">
{% endblock %}
<div class="logo-image">
	<img src="{% static 'images/logo.png' %}" alt="">
</div>
<legend>{% trans "Change Password" %}</legend>
<p>{% trans 'Your password is now changed.' %}</p>
<p><a href="{% url 'account_login' %}">Return back to Login Page</a></p>
{% endblock %}
