{% extends "account/login.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/accounts/password_reset.css' %}">
{% endblock %}
<div class="logo-image">
	<img src="{% static 'images/logo.png' %}" alt="">
</div>
<h1>{% trans "Password Reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. Please ask an administrator if you do not receive it within a few minutes.{% endblocktrans %}</p>
    <p><a href="{% url 'account_login' %}">Return back to Login Page</a></p>
{% endblock %}
